<p>footer works!</p>
<footer class="footer-10">
    <div class="container">
        <img src={logo} alt="" width="300px"/>
      <div class="row mb-1 pb-3 mt-3">
        <div class="col-md-4 mb-md-0 mb-4 d-flex">
          <div class="con con-1 w-100 py-5">
            <div class="con-info w-100 text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-phone"></i>
              </div>
              <div class="text">
                <span>(+91) 1234 567891</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-md-0 mb-4 d-flex">
          <div class="con con-2 w-100 py-5">
            <div class="con-info w-100 text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-envelope"></i>
              </div>
              <div class="text">
                <span>saytees27@email.com</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-md-0 mb-4 d-flex">
          <div class="con con-3 w-100 py-5">
            <div class="con-info w-100 text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <div class="text">
                <span>
                  Kheda
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 mb-md-0 mb-4">
              <h2 class="footer-heading">Shop</h2>
              {/* <ul class="list-unstyled">
                <li>
                  <a href="#" class="d-block">
                    Out story
                  </a>
                </li>
                <li>
                  <a href="#" class="d-block">
                    Awards
                  </a>
                </li>
                <li>
                  <a href="#" class="d-block">
                    Our Team
                  </a>
                </li>
                <li>
                  <a href="#" class="d-block">
                    Career
                  </a>
                </li>
              </ul> */}
            </div>
            <div class="col-md-3 mb-md-0 mb-4">
              <h2 class="footer-heading">Category</h2>
              {/* <ul class="list-unstyled">
                <li>
                  <a href="#" class="d-block">
                    Our services
                  </a>
                </li>
                <li>
                  <a href="#" class="d-block">
                    Clients
                  </a>
                </li>
                <li>
                  <a href="#" class="d-block">
                    Contact
                  </a>
                </li>
                <li>
                  <a href="#" class="d-block">
                    Press
                  </a>
                </li>
              </ul> */}
            </div>
            {/* <div class="col-md-2 mb-md-0 mb-4">
              <h2 class="footer-heading">Offices</h2>
              {/* <ul class="list-unstyled">
                <li>
                  <a href="#" class="d-block">
                    Blog
                  </a>
                </li>
                <li>
                  <a href="#" class="d-block">
                    Newsletter
                  </a>
                </li>
                <li>
                  <a href="#" class="d-block">
                    Privacy Policy
                  </a>
                </li>
              </ul> 
            </div> */}
            <div class="col-md-3 mb-md-0 mb-4">
              <h2 class="footer-heading">Abouts</h2>
              {/* <ul class="list-unstyled">
                <li>
                  <a href="#" class="d-block">
                    Blog
                  </a>
                </li>
                <li>
                  <a href="#" class="d-block">
                    Newsletter
                  </a>
                </li>
                <li>
                  <a href="#" class="d-block">
                    Privacy Policy
                  </a>
                </li>
              </ul> */}
            </div>
            <div class="col-md-3 mb-md-0 mb-4">
              <h2 class="footer-heading">Contects</h2>
              {/* <ul class="list-unstyled">
                <li>
                  <a href="#" class="d-block">
                    Blog
                  </a>
                </li>
                <li>
                  <a href="#" class="d-block">
                    Newsletter
                  </a>
                </li>
                <li>
                  <a href="#" class="d-block">
                    Privacy Policy
                  </a>
                </li>
              </ul> */}
            </div>
          </div>
        </div>
        
      </div>
        <div class="col-md-12 col-md-12 mb-md-0 mb-4 ftco-footer-social">
          <a href="#" data-toggle="tooltip" data-placement="top" title="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
        </div>


      <div class="row mt-5 pt-4 border-top">
        <div class="col-md-12 col-lg-12 mb-md-0 mb-4">
          <p class="copyright mb-0">@copyright 2024</p>
        </div>
      </div>
    </div>
  </footer>