

// Cart Start

.shopping-cart .cart-header{
    padding: 10px;
}
.shopping-cart .cart-header h4{
    font-size: 18px;
    margin-bottom: 0px;
}
.shopping-cart .cart-item a{
    text-decoration: none;
}
.shopping-cart .cart-item{
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    padding: 10px 10px;
    margin-top: 10px;
}
.shopping-cart .cart-item .product-name{
    /* margin-left: 10px; */
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.shopping-cart .cart-item .price{
    font-size: 16px;
    font-weight: 600;
    padding: 4px 2px;
}
.shopping-cart .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 10px;
}
.shopping-cart .input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 3px; */
    /* margin-left: 0px; */
}
.shopping-cart .btn1:hover{
    background-color: #2874f0;
    color: #fff;
}
.shopping-cart .input-quantity{
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    width: 40%;
    outline: none;
    text-align: center;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 310px;
    height: 50px;
}
.cartitems-promobox button{
    width: 174px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;   
}

// Cart End

// Category Start

.product-card{
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}
.product-card a{
    text-decoration: none;
}
.product-card .stock{
    position: absolute;
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
}
.product-card .product-card-img{
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.product-card .product-card-img img{
    width: 100%;
}
.product-card .product-card-body{
    padding: 10px 10px;
}
.product-card .product-card-body .product-brand{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #937979;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .product-name{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .selling-price{
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-card .product-card-body .original-price{
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-card .product-card-body .btn1{
    border: 1px solid black;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.product-card .product-card-body .btn1:hover{
    background-color: black;
    color: white;
}
.link{
    text-decoration: none;
}

.cartBtn{
    display: flex;
    align-items: center;
}

// Category End

// Footer Start

.footer-10 {
    color: black; 
    background-color: #fff; 
    padding: 60px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .con {
    /* background-color: #ba8075;  */
    border-radius: 50px;
    text-align: center;
  }
  
  .con-info {
    padding: 20px;
  }
  
  .icon {
    font-size: 24px;
  }
  
  .text {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .footer-heading {
    color: black; 
  }
  
  .list-unstyled {
    padding: 0;
    list-style: none;
  }
  
  /* .list-unstyled a {
    /* color: #ccc;   */
    /* text-decoration: none; 
  } */
  
  /* .list-unstyled a:hover {
    color: red; 
  } */
  
  
  .copyright {
    font-size: 20px;
  }

  
  .ftco-footer-social a {
    font-size: 35px;
  }
  
  [data-toggle="tooltip"] {
    position: relative;
  }
  
  [data-toggle="tooltip"]:before {
    content: "";
    display: none;
    position: absolute;
    border-width: 6px;
    border-style: solid;
    border-color: transparent;
  }
  
  [data-toggle="tooltip"]:hover:before {
    display: block;
  }
  
  /* [data-toggle="tooltip"][title="Twitter"]:before {
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-top-color: #00aced; 
  } */
  
  /* Facebook tooltip */
  [data-toggle="tooltip"][title="whatsapp"]:before {
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-top-color: green;
  }
  
  /* Instagram tooltip */
  [data-toggle="tooltip"][title="Instagram"]:before {
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-top-color: #bc2a8d; 
  }
  

// Footer End

// Item Start

.product-card{
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}
.product-card a{
    text-decoration: none;
}
.product-card .stock{
    position: absolute;
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
}
.product-card .product-card-img{
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.product-card .product-card-img img{
    width: 100%;
}
.product-card .product-card-body{
    padding: 10px 10px;
}
.product-card .product-card-body .product-brand{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #937979;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .product-name{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .selling-price{
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-card .product-card-body .original-price{
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-card .product-card-body .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 12px;
    margin-top: 10px;
}

// Item End


// Navbar Start

Link {
    font-size:14px;
    font-weight:700
  }
  .superNav {
    font-size:13px;
  }
  .form-control {
    outline:none !important;
    box-shadow: none !important;
  }
  .cart-count{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -22px;
    margin-left: -65px;
    border-radius: 11px;
    font-size: 10px;
    color: white;
    background-color: red; 
  }
  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
  }

// Navbar End

// Product Detais Start

.product-view .product-name{
    font-size: 24px;
    color: #2874f0;
}
.product-view .product-path{
    font-size: 13px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 16px;
}
.product-view .selling-price{
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-view .original-price{
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-view .input-group{
    display: flex;
    align-items: center;
    gap: 3px;
}
.product-view .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
}
.product-view .btn1:hover{
    background-color: #2874f0;
    color: #fff;
}
.product-view .input-quantity{
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    margin-top: 10px;
    width: 58px;
    outline: none;
    text-align: center;
}

// Product Detais End