<!-- <p>login works!</p> -->
<div class="bg-light py-3 py-md-5">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
          <div class="bg-white p-4 p-md-5 rounded shadow-sm">
            <div class="row">
              <div class="col-12">
                <div class="mb-5">
                  <h2 class="h3">Log In</h2>
                </div>
              </div>
            </div>
            <form onSubmit={handleSubmit}>
              <div class="row text-start gy-3 gy-md-4 overflow-hidden">
                <div class="col-12">
                  <!-- <h1>Welcome</h1> -->
                  <label class="form-label">
                    User Name <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    />
                </div>
                <div class="col-12">
                  <label class="form-label">
                    Password <span class="text-danger">*</span>
                  </label>
                  <input
                    type="password"
                    class="form-control"
                    />
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button
                      class="btn btn-lg btn-primary"
                      type="submit"
                    >
                      Log In
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-12">
                <hr class="mt-5 mb-4 border-secondary-subtle" />
                <div class="col-12">
                  <p class="m-0 text-secondary text-center">
                    Create an account?
                    <a
                    (click)="selectTab('signup')"
                      class="a-primary text-decoration-none"
                    >
                      Sign Up
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>