<!-- <p>layout works!</p> -->
<div class="main-section">
  <nav
    class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm"
  >
    <div class="container">
      <img
        src="../../../assets/images/logo.png"
        alt=""
        width="150px"
        height="50px"
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-a mx-2 text-uppercase active"
              aria-current="page"
              (click)="selectTab('shop')"
              >Shop</a
            >
          </li>
          <li class="nav-item">
            <a (click)="selectTab('category')" class="nav-a mx-2 text-uppercase"
              >Category</a
            >
          </li>
          <li class="nav-item">
            <a (click)="selectTab('about')" class="nav-a mx-2 text-uppercase"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              (click)="selectTab('contactus')"
              class="nav-a mx-2 text-uppercase"
              >Contact</a
            >
          </li>
          <li class="nav-item">
            <a
              (click)="selectTab('productdetails')"
              class="nav-a mx-2 text-uppercase"
              >Productdetails</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto d-flex align-items-center">
          <li class="nav-item">
            <span>Welcome, userName</span>
            <a (click)="selectTab('login')" class="nav-a mx-2 text-uppercase"
              ><i class="fa-solid fa-circle-user me-1"></i>login</a
            >
          </li>
          <li class="nav-item">
            <a (click)="selectTab('signup')" class="nav-a mx-2 text-uppercase"
              ><i class="fa-solid fa-circle-user me-1"></i>sign up</a>
          </li>
          <li class="nav-item">
            <a (click)="selectTab('wishlist')" class="nav-a mx-2 text-uppercase"
              ><i class="fa fa-heart me-1"></i>Wishlist</a
            >
          </li>
          <li class="nav-item">
            <a (click)="selectTab('cart')" class="nav-a mx-2 text-uppercase"
              ><i class="fa-solid fa-cart-shopping cart me-1"></i>cart</a
            >
          </li>
          <div class="cart-count">0</div>
        </ul>
      </div>
    </div>
  </nav>
  <div *ngIf="selectedTab === 'shop'">
    <app-shop></app-shop>
  </div>
  <div *ngIf="selectedTab === 'category'">
    <app-category></app-category>
  </div>
  <div *ngIf="selectedTab === 'about'">
    <app-about></app-about>
  </div>
  <div *ngIf="selectedTab === 'contactus'">
    <app-contactus></app-contactus>
  </div>
  <div *ngIf="selectedTab === 'cart'">
    <app-cart></app-cart>
  </div>
  <div *ngIf="selectedTab === 'login'">
    <app-login></app-login>
  </div>
  <div *ngIf="selectedTab === 'signup'">
    <app-signup></app-signup>
  </div>
  <div *ngIf="selectedTab === 'wishlist'">
    <app-wishlist></app-wishlist>
  </div>
  <div *ngIf="selectedTab === 'productdetails'">
    <app-productdetails></app-productdetails>
  </div>
</div>

<footer class="footer-10">
  <div class="container">
    <img src="../../../assets/images/logo.png" alt="" width="300px" />
    <div class="row mb-1 pb-3 mt-3">
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-1 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="text">
              <span>(+91) 1234 567891</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-2 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="text">
              <span>saytees27&#64;email.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-3 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="text">
              <span> Kheda </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 mb-md-0 mb-4">
            <h2 class="footer-heading">Shop</h2>
            <!-- <ul class="list-unstyled">
              <li>
                <a href="#" class="d-block"> Out story </a>
              </li>
              <li>
                <a href="#" class="d-block"> Awards </a>
              </li>
              <li>
                <a href="#" class="d-block"> Our Team </a>
              </li>
              <li>
                <a href="#" class="d-block"> Career </a>
              </li>
            </ul> -->
          </div>
          <div class="col-md-3 mb-md-0 mb-4">
            <h2 class="footer-heading">Category</h2>
            <!-- <ul class="list-unstyled">
              <li>
                <a href="#" class="d-block"> Our services </a>
              </li>
              <li>
                <a href="#" class="d-block"> Clients </a>
              </li>
              <li>
                <a href="#" class="d-block"> Contact </a>
              </li>
              <li>
                <a href="#" class="d-block"> Press </a>
              </li>
            </ul> -->
          </div>
          <div class="col-md-3 mb-md-0 mb-4">
            <h2 class="footer-heading">Abouts</h2>
            <!-- <ul class="list-unstyled">
              <li>
                <a href="#" class="d-block"> Blog </a>
              </li>
              <li>
                <a href="#" class="d-block"> Newsletter </a>
              </li>
              <li>
                <a href="#" class="d-block"> Privacy Policy </a>
              </li>
            </ul> -->
          </div>
          <div class="col-md-3 mb-md-0 mb-4">
            <h2 class="footer-heading">Contects</h2>
            <!-- <ul class="list-unstyled">
              <li>
                <a href="#" class="d-block"> Blog </a>
              </li>
              <li>
                <a href="#" class="d-block"> Newsletter </a>
              </li>
              <li>
                <a href="#" class="d-block"> Privacy Policy </a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-md-12 mb-md-0 mb-4 ftco-footer-social">
      <a href="#" data-toggle="tooltip" data-placement="top" title="whatsapp"
        ><i class="fa-brands fa-whatsapp"></i
      ></a>
      <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>

    <div class="row mt-5 pt-4 border-top">
      <div class="col-md-12 col-lg-12 mb-md-0 mb-4">
        <p class="copyright mb-0">&#64;copyright 2024</p>
      </div>
    </div>
  </div>
</footer>
