<!-- <p>productdetails works!</p> -->
<div class="py-3 py-md-5 bg-light">
  <div class="container text-start">
    <div class="row">
      <p class="product-path">Home &gt; category &gt; Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse</p>
      <div class="col-md-5 mt-3">
        <div class="bg-white border">
          <img src="../../../assets/images/p1_product.png"  alt="Img"  width="100%"/>
          <img src="../../../assets/images/p1_product_i1.png"  alt="Img"  width="100px"/>
          <img src="../../../assets/images/p1_product_i2.png"  alt="Img"  width="100px"/>
          <img src="../../../assets/images/p1_product_i3.png"  alt="Img"  width="100px"/>
          <img src="../../../assets/images/p1_product_i4.png"  alt="Img"  width="100px"/>
        </div>
      </div>
      <div class="col-md-7 mt-3">
        <div class="product-view">
          <h4 class="product-name">Striped Flutter Sleeve Overlap Collar Peplum Hem Blouse</h4>
          <hr />

          <div>
            <span class="selling-price">$85</span>
            <!-- <span class="original-price">$</span> -->
          </div>
          <div class="mt-3">
            <button to="" class="btn btn1">S</button>
            <button to="" class="btn btn1">M</button>
            <button to="" class="btn btn1">L</button>
            <button to="" class="btn btn1">XL</button>
            <button to="" class="btn btn1">XXL</button>
          </div>
          <div class="mt-3">
            <div class="input-group">
              <button class="btn btn1"><i class="fa fa-minus"></i></button>
              <input type="text" value="1" class="input-quantity" />
              <button class="btn btn1"><i class="fa fa-plus"></i></button>
            </div>
          </div>
          <div class="mt-3">
            <button class="btn btn1">
              <i class="fa fa-shopping-cart"></i> Add To Cart
            </button>
            <a to="" class="btn btn1">
              <i class="fa fa-heart"></i> Add To Wishlist
            </a>
          </div>
          <div class="mt-3">
            <h5 class="mb-0">Small Description</h5>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a ty
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <div class="card">
          <div class="card-header bg-white">
            <h4>Description</h4>
          </div>
          <div class="card-body">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
